.bg-main{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/bg-1.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.card-register{
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
}

.vh-min-100{
    min-height: 100vh;
}

@media screen and (min-width:768px) {
    .card-register{
        background-color: white;
        border-radius: 20px;
        padding: 3rem;
    }
}